*{
    margin: 0px;
    padding: 1px;
    font-family: Calibri;
}

* {box-sizing:border-box}

.container {
width: 100%; 
background-color: #58D3F7;

}

.skills {
text-align: right; 
padding-top: 10px; 
padding-bottom: 10px; 
color: white; 
border-radius: 25px; 
}

.c {width: 90%; background-color: #04AA6D; } 
.cp {width: 80%; background-color: #FF00FF;} 
.py {width: 65%; background-color: #f44336;} 
.java {width: 60%; background-color: #808080;}
.js{width: 50%;background-color: black;} 
.mql{width: 50%; background-color: black;}
.html{width: 85%;background-color: #00FF00;}
.css{width: 65%;background-color: orange;}
.php{width: 65%;background-color: greenyellow;}
.and{width: 70%;background-color: pink;}
.xcode{width: 85%;background-color: rgb(0, 255, 140);}
.jpn{width: 55%;background-color: #2E2EFE;}